.colorText {
    color: orangered !important;
}

.activeLink {
    background-color: var(--firstColor);
    color: white !important;
    box-shadow: 0px 4px 4px 0px #00000040 !important;

}

.hoverLink:hover {
    background-color: var(--secondColor);
    color: #ffff !important;
}

.list {
    color: white !important;
}

.sideTittle {
    color: var(--firstColor);;
}

.hrColor {
    border: 0.5px solid var(--firstColor);
}

.bgSidebar {
    background-color: var(--firstColor);;
}